{% extends "templates/web.html" %}

{% block page_content %}
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ name }}">
    </div>
    <div class="col">
        <h1>{{ name }}</h1>
        <p class="lead">By {{ name }}</p>
        <div>
            {%- if for_sale -%}
            <span class="badge badge-success">For Sale</span>
            {%- elif for_lease -%}
            <span class="badge badge-primary">For Lease</span>
            {%- endif -%}
        </div>
        <div class="mt-4">
            <div>City: <strong>{{ city }}</strong></div>
            <div>State: <strong>{{ state }}</strong></div>
        </div>
        <p>{{ address }}</p>
    </div>
</div>
{% endblock %}

<!-- this is a sample default web page template -->